<!DOCTYPE html>


<html>
	<head>
    <style>
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
       
        body {
                font-family: 'Nanum Gothic';
             
                background: url(http://postfiles11.naver.net/MjAxNzAzMjlfNjEg/MDAxNDkwNzg2MjM4ODYw.dMZT_oVYHQlG855fZBR0E3nRHwLCtb9vwYDGhu-vm4Qg.nUUX89sQC0k25TjFgzHhSaNSB1vSF8YbbstozRUWW0sg.PNG.dydrlaks/main_logo.png?type=w2) no-repeat top right fixed; 
   
      background-size:400px,400px;
                
        }
        
    </style>
    
    <meta charset="utf-8">
    <title>게임게임게임</title>
    </head>
    
    <body>
    
        <div align="center">
        <h1><%= @name%>님, 당신은...</h1><br>
        <h3><%= @random1%><br></h3>
		<h3><%= @random2%><br></h3>
		<h3><%= @random3%><br></h3>
		<h2>이 세 가지를 주시하셔야 할걸요?</h2><br>
		</div>
		<div align="left">
		<h2><%=@result4%><%=@result10%><%=@result%><br></h2>
		<h2><%=@result5%><%=@result11%><br></h2>
		<h2><%=@result12%></h2>
		<h1><a href= "/lotto/index">다시하기</a></h1>
        
        </div>
    </body>
    
    
</html>
